<% include partials/head.ejs %>

<section class="intro">
  <div>
    <h2>If you want to update the score you will need to login</h2>
    <button> <a href="/login">Log in</a></button>
  </div>

  <div>
    <h2>If you don't want to do that go back to previous page </h2>
    <button> <a href="/games">back</a></button>
  </div>
</section>

<% include partials/footer.ejs %>
