<% include partials/head.ejs %>

<header class="">
  <h1>Welcome to <span><%= tournamentName %><span></h1>
</header>

<section>
  <ul class="gameslist">
    <li class="game">
      <h2 class="team1">Team 1 </h2>
      <h3 class="gamebegin"> <b>13:00</b> </h3>
      <h2 class="team2">Team 2 </h2>
    </li>
  </ul>
</section>

<% include partials/footer.ejs %>
