<% include partials/head.ejs %>

<section class="intro">
    <h1><span>Welcome to <span>Windmill</span> tournament</span></h1>
    <h2>Please choose a division:</h2>

    <section class="division-select">
        <a href="/games"><button>Mixed</button></a>
        <a href="/games/19747"><button>Women</button></a>
        <a href="/games/19746"><button>Open</button></a>
    </section>
</section>

<% include partials/footer.ejs %>
