<% include partials/head.ejs %>

<section class="intro">
    <div>
        <h1 class="begin">ULTIMATE FRISBEE APP.</h1>
        <button> <a href="/login">Log in</a></button>
    </div>
</section>


<% include partials/footer.ejs %>
