<% include partials/head.ejs %>

<section class="intro">
    <h1 class="begin">ULTIMATE FRISBEE APP.</h1>

    <div>
        <h2>If you want to update the score you will need to login</h2>
        <button class="action-button"> <a href="/login">Log in</a></button>
    </div>

    <div>
        <h2>If you don't want to do that go to the games overview instead </h2>
        <button class="action-button"> <a href="/games">to games overview</a></button>
    </div>
</section>

<% include partials/footer.ejs %>
