<% include partials/head.ejs %>

<section class="intro">
    <div>
        <h1 class="begin">ULTIMATE FRISBEE APP.</h1>
        <h2>log in so you can edit scores, stats, etc.</h2>
        <button> <a href="/login">Log in</a></button>
    </div>

    <div>
        <h2>Or if you just want to check some games and stats:</h2>
        <button> <a href="/">continue to site</a></button>
    </div>
</section>

<% include partials/footer.ejs %>
