* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    color: #666;
}

span {
    color: #FF8A65;
}

h1 {
    width: 100%;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.12em;
}

p {
    font-size: 0.94em;
}

section {
    width: 100%;
}

input {
    border: 1px solid rgba(0,0,0,0.3);
}

/* Standard styling of basic stuff*/
.boxshadow {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3);
}

.submit-button {
    display: block;
    padding: 1em 1.5em;
    background: #42A5F5;
    border: 0;
    border-radius: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin: 1em 0;
}

.action-button {
    padding: 1em 1.5em;
    margin: 1em 0;
    background: #2196F3;
    border: 0;
    border-radius: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #fff;
}

@media (min-width: 40em) {
    section {
        margin: 0 auto;
        width: 55vw;
    }

    #lightbox {
        width: 100%!important;
    }
}

body {
    font: 1em 'roboto', Arial;
    background: #f9f9f9;
}

.content {
    margin-top: 2em;
}

/*  ZERO STTE screen: */
.intro {
    padding: 5em 0.5em 0 0.5em;
    background: #2196F3;
    margin: 0;
    height: 100vh;
    margin: 0 auto;
}

.intro h1 {
    margin: 0;
}

.intro h2 {
    color: #fff;
}

.intro h1 > span {
    background: #fff;
    color: #2196F3;
    padding: 0 0.5em 0 0;
}

.intro > .division-select  {
    padding: 0;
}

.intro > .division-select button {
    background: #fff;
    color: #2196F3;
    margin: 0;
}

header {
    margin: 0;
    width: 100%;
    z-index: -1;
}

header h2 {
    padding: 0 1rem;
    color: #fff;
}

.header-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #2196F3;
}

.header-section h1 {
    color: #fff;
}

.header-tabs {
    background: #42A5F5;
}

.header-tabs ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-tabs li {
    width: 50%;
    text-align: center;
    color: #fff;
}

.header-tabs li button  {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: inherit;
    width: 100%;
    padding: 1em;
}

.header-tabs li.active {
    border-bottom: .3em solid #fff;
}

.division-select {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.division-select button {
    padding: 0.65em 1.25em;
    border: 0;
    margin: 0.3em 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
    background: #42A5F5;
    border: 0;
}

.division-select a button {
    text-decoration: none;
    color: #fff;
}

.division-select a button.active {
    background: #fff;
    color: #42A5F5;
    border: 1px solid #42A5F5;
}

/*
    TEAM DETAIL PAGE
*/
.team-header {
    background: #42A5F5;
    margin-bottom: 4em;
}
.team-header div > h2 {
    color: #fff;
}

.team-quick-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #12A6FF;
    min-height: 5em;
}

.team-quick-info div img {
    margin: 0 auto;
	display: block;
    background: #fff;
    border-radius: 50%;
    border: .2em solid #12A6FF;
    width: 6em;
    position: absolute;
    bottom: -1.5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.team-quick-info div {
    width: 7em;
    padding: 1em 0.5em;
    position: relative;
}

.team-quick-info div p {
    color: #fff;
    padding: 0;
    margin: 0;
}

.team-desc {
    box-sizing: border-box;
    padding: 0.5em;
    background: #fff;
}

.team-desc h2 {
    margin: 0;
}

.team-games__team {
    margin: 0 auto!important;
}

.next-game {
    background: #FF8A65;
    padding: 0.5em;
}

.next-game h2 ,.next-game h3,.next-game p ,.next-game a {
    color: #fff;
}

.next-game h4 {
    display: inline;
}

/*
    Update game page (Score)
*/
.header-section-score {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-nav {
    background: #2196F3;
}

.back {
    width: 2em;
    margin: 0.25em;
}

.header-section--score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 8.5em;
    align-items: center;
    background: #2196F3;
    position: relative;
}

.header-section--score .team {
    justify-content: center;
    width: 33%;
}

.header-section--score .team a {
    text-decoration: none;
}

.header-section--score .team h3 {
    color: #fff;
    text-align: center
}

.header-section--score .game-score {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.header-section--score .game-score h3 {
    background: #fff;
    border-radius: 5px;  
    text-align: center; 
    padding: 0.4em;
    margin: 0;
}

.header-section--info {
    margin-top: 11em;
    display: flex;
    justify-content: space-between;
    background: #42A5F5;
    padding: 1em 0.5em;
}

.header-section--info p {
    margin: 0;
    color: #fff;
}

.update-login-btn {
    position: absolute;
    bottom: 0.5em;
}

.update-login-btn a {
    color: #fff;
    font-size: 0.9em;
    margin-top: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #FF8A65;
    padding: 0.5em;
}

.game-updates, .game-chat {
    padding: 1em 0.5em;
    background: #fff;
}

.game-updates p {
    margin: 0;
}

.game-updates h2 {
    margin-top: 0;
}

.game-chat li {
    list-style: none;
    background: #fff;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.1)
}

.game-chat li p {
    margin: 0.25em 0;
    padding: 0;
}

.game-chat {
    display: flex;
    flex-wrap: wrap;
}

.game-chat h2 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.game-chat ul {
    width: 100%;
    padding: 0;
    overflow: auto;
    margin-bottom: 4em;
}

.game-chat form {
    position: fixed;
    bottom: 0; 
    width: 100%;
    padding: 0.5em;
    margin: 0;
    left: 0;
    display: flex;
}

.game-chat form input {
    margin: 0;
    padding: 0;
    border: 0;
    height: 3em;
}

.game-chat form input[type="text"] {
    width: 80%;
    font-family: 'roboto';
    border: 1px solid #FF8A65;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0 1em; 
}

.game-chat form input[type="submit"] {
    width: 20%;
    background: #FF8A65;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.chat-message {
    background: #fff;
    list-style: none;
}

.score-update {
    z-index: 999;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.score-update:target {
    z-index: 1;
    display: block;
}

.score-update::after {
    z-index: -1;
    content: '';    
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} 

.score-update div:first-of-type , .nav {
    padding: 1em;
    display: flex;
}

.score-update div:first-of-type {
    background: #FF8A65;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.nav {
    padding: 1em 0.5em;
    background: #2196F3;
}

.nav h3 {
    padding: 0;
    margin: 0;
    color: #fff;
}

.nav-update {
    padding: 1em 1em 0 1em!important;
}

.score-update div:first-of-type h3, .nav h3 {
    display: inline;
    margin: 0;
    color: #fff;
}

.score-update div:first-of-type a, .nav a {
    border: 0;
    background: inherit;
    margin-right: 0.5em;
}

.close-btn, .back-btn {
    margin-right: 0.5em;
}

.score-update form {
    position: relative;
    background: #FF8A65;
    height: 100vh;
}

.scoreboard {
    padding-top: 2em!important;
}

.scoreboard .add-score {
    width: 100%;
    border: 0;
    margin: 0;
    background: #12A6FF;
    height: 2.75em;
    color: #fff;
    border: .1rem solid rgba(0,0,0,0.1);
}

.scoreboard-team {
    display: block;
    width: 100%;
    height: 9rem;
    border: .1rem solid rgba(0,0,0,0.1);
    font-size: 4rem;
    text-align: center;
}

.box {
    padding: 0!important;
    border: 0!important;
    position: relative;
    height: 6em;
}

.box h2 {
    position: absolute;
    bottom: 0;
    color: #fff;
    margin: 0;  
}

.team-name2 h2 {
    right: 0;
}

label[for="team1_score"] > h2, label[for="team2_score"] > h2 {
    color: #fff;
    min-height: 5em;
    margin: 0;
}

.form-scoreboard fieldset:last-child {
    background: #fff;
}

.score-info input {
    display: block;
}

form-scoreboard {
    padding: 0.5em;
}

fieldset {
    border: none;
}

.score-info {
    background: #FF8A65;
    padding: 1em;
}

.score-update input[type="submit"] {
    color: #fff;
    width: 100%;
    margin-top: 3em;
}

input[type="checkbox"] + label::before {
    content: '\a0'; /* non-break space */
    display: inline-block;
    vertical-align: .2em;
    width: .8em;
    height: .8em;
    margin-right: .2em;
    border-radius: .2em;
    background: #fff;
    border: 1px solid silver;
    text-indent: .15em;
    line-height: .65;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
    background: dodgerblue;
    color: #fff;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 .1em .1em #58a;
}

.cancel {
    margin: 0;
    background: #fff;
    padding: 0.5em;
}

.cancel-update {
    background: #fff;
    border:1px solid #12A6FF;
    color: #12A6FF;
    margin: 0;
}

/*
    Games Page
*/
.flash-message {
    position: relative;
    border: 1px solid #fff;
    background: #FF8A65;
    padding: 0.5em;
}

.flash-message > p {
    color: #fff;
    margin-bottom: 2em;
}

.flash-message #close-message {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background: #FF8A65;
    padding: 1em 0.5em;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.closed {
    display: none
}

.gameslist {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.gameslist li {
    list-style: none;
    min-height: 11.5em;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    border-radius: 5px;
    margin-bottom: 3em;
}

@media (min-width: 66em) {
    .header-section section h2 {
        padding: 0;
    }

    .header-section--info {
        margin-top: 11em;
    }

    .header-section--info,
    .game-updates,
    .game-chat,
    .next-game,
    .team-games,
    .team-desc,
    .nav  {
        padding: 1em;
    }

    .gameslist li {
        width: 48%;
    }
}

.tournament-info {
    padding: 0.5em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    justify-content: space-between;
}

.tournament-info p {
    padding: 0;
    margin: 0;   
}

.tournament-info p:first-of-type { 
    color: #42A5F5;
}

.game-location {
    padding: 0.5em 0.5em;
    background: #E0E0E0;
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
}

.team-games {
    background: #fff;
    padding: 0.5em;
    display: flex; 
    flex-wrap: wrap;
    position: relative;
}

.team-games h2:first-of-type {
    margin: 0;
    width: 100%;
}

.team-games > p {
    width: 100%;
}

 .gamelist-date {
     width: 100%;
     background: yellowgreen;
     margin: 0;
 }

 .gameslist {
     width: 100%;
 }

.gameslist a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.gameslist > p {
    width: 100%;
}

.gameslist a:active {
    background: #666;
    opacity: .1;
}

.gameslist a * {
    padding: 0;
}

.gameslist .info {
    text-align: center;
}

.gameslist .team1, .team2 {
    width: 7em;
}

.gameslist .team1 p , .team2 p {
    margin-bottom: 0;
    height: 3.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.gameslist .team1 h4 , .team2 h4 {
    margin: 0 0 1em 0;
}

.gameslist .team1 {
    text-align: right;
}

.game-winner {
    font-weight: 700!important;
}

/*  COMPACT MODE GAMELIST  */
.view-mode {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    display: flex;
}

.view-mode label {
    margin: 0 0.5em;
}

.gamelist__compact li {
    min-height: auto;
    position: relative;
    margin-bottom: 1.4em;
    width: 100%;
}

.game__compact {
    justify-content: space-between;
    padding: 0 0.5em;
}

.score__compact {
    display: flex;
    width: 17%; 
    justify-content: center; 
}

.team-name__compact {
    width: 40%;
}

.team-name2__compact {
    text-align: right;
}

/*
    Swiss score section
*/

.swiss-standings {
    padding: 0.5em;
    background: #fff;
}

.swiss-standings table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    padding: 0.25em;
}

.swiss-standings td:first-of-type {
    width: 3em;
}

.swiss-standings td:first-of-type span {
    color: #2196F3;
    font-weight: 700;
}

.swiss-standings td {
    padding: 0.25em;
    height: 3em;
}

.swiss-standings a {
    text-decoration: none;
}

.swiss-standings td * {
    color: #666;
}

.swiss-standings table th {
    text-align: left;
    border: 0;
}

tr:first-of-type {
    border-bottom: 1px solid #FF8A65;
 }


 @media (min-width: 75em) { 
     .content {
         display: flex;
         justify-content: center;
     }

     .score-update > section {
         width: 50vw;
     }

    .swiss-standings {
        display: block!important;
        width: 25%;
        margin: 0;
        border-left: 1px solid rgba(0,0,0,0.1);
    }

    .swiss-standings h2 {
        margin: 0;
    }

    .swiss-standings td {
        padding: 0.25em;
    }

    .header-tabs {
        display: none;
    }

    .content__team-page {
        display: flex;
        width: 75vw;
        margin: 0 auto;
    }

    .team-desc {
        width: 50%;
    }

    .team-games__team {
        width: 100%;
    }

    .team-games__team li {
        width: 100%;
    }

    .team-games {
        display: block!important;
        width: 50%;
        margin: 0;
    }

    section {
        margin: 0 auto;
        width: 75vw;
    }

    .header-section-score > section,
    .header-section--info,
    .game-updates,
    .game-chat {
        width: 50vw;
    }
}

/*  FROM  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #42A5F5;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #42A5F5;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #42A5F5;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.hide {
    display: none;
}