* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #3f3f3f;
}

p {
  color: #666;
  width: 100%;
  margin: 1em 0;
}

span {
    color: dodgerblue;
}

h1 {
    width: 100%;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.15em;
}

p {
    font-size: 0.95em
}

section {
    width: 100%;
}

input {
    border: 1px solid rgba(0,0,0,0.3);
}

@media (min-width: 40em) {
    section {
        margin: 0 auto;
        width: 55vw;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.25em;
    }

    p {
        font-size: 1em
    }
}

@media (min-width: 60em) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }
}

body {
    font: 1em 'roboto', Arial;
    background: #f9f9f9;
    min-height: 100vh;
}

.intro {
    min-height: 100vh;
}

.intro button {
    padding: 1em 1.5em;
    background: dodgerblue;
    border: 0;
    border-radius: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.intro button a {
    padding: 1em 1.5em;
    text-decoration: none;
    color: #fff;
}

header section{
    padding: 0.25rem;
}

header .background {
    background: dodgerblue;
    margin: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 25vh;
    z-index: -1;
    position: absolute;
    top: 0;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

header h1 {
    color: #fff;
    -webkit-transform: skew(-15deg, 0);
    -moz-transform: skew(-15deg, 0);
    -ms-transform: skew(-15deg, 0);
    -o-transform skew(-15deg, 0);
    transform: skew(-15deg, 0);
}

h1 span {
    color: coral;
}

nav {
    border: 1px solid white;
    position: fixed;
    top: 0;
    left: -25em;
    padding: 1em;
    z-index: 999;
    background: royalblue;
    color: #fff;
    height: 100vh;
}

nav li {
    padding: 0.5em;
    list-style: none;
}

.header-section {
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    -webkit-transform: rotate(-70deg) skew(-15deg, 0); /* Chrome, Safari, Opera */
    transform: rotate(-70deg) skew(-15deg, 0);
    align-self: flex-start;
    border: 0;
    background: 0;
    margin-top: 4em;
    transition: .1s ease-in;
}

.nav-btn span {
    font-weight: 700;
    border-bottom: 0.3rem solid royalblue;
    border-top: 4rem solid royalblue;
    padding: 0.25em;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
    letter-spacing: 2px;
}

.nav-btn:active {
    background: royalblue;
}

section .background {
    background: #fff;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
    padding: 0.2em;
}

/*
    TEAM DETAIL PAGE
*/
.team-quick-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.team-quick-info div img {
    margin-left: auto;
    margin-right: auto;
	display: block;
}

.team-quick-info div {
    width: 6em;
    padding: 0.25em;
    border: 1px solid hotpink;
}

.team-desc {
    xbox-sizing: border-box;
    xwidth: 100%;
    xpadding: 0.5em;
}

/*
    Update game page (Score)
*/
.scoreboard {

}

.scoreboard input[type="button"] {
    width: 100%;
    border: 0;
    margin: 0;
    background: coral;
    height: 2em;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.scoreboard-team {
    display: block;
    width: 100%;
    height: 9rem;
    border: .1rem solid rgba(0,0,0,0.1);
    padding: .75rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

label[for="team1_score"], label[for="team2_score"] {
    /*width: 7rem;*/
    width: 37%;
    margin: 1em;
    display: inline-block;
}

.form-scoreboard {
    background: #fff;
    width: 95%;
    margin: 0 auto;
}

.form-scoreboard fieldset {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.form-scoreboard fieldset:last-child {
    border: 0;
    box-shadow: none;
}

.score-info input {
    display: block;
}

fieldset {
    border: 1px solid rgba(0,0,0,0.1);
}

.score-info {
    margin: 0.5em 0;
}

.score-info input {
    margin: 0.5em 0;
}

input[type="submit"] {
    display: block;
    padding: 1em 1.5em;
    background: dodgerblue;
    border: 0;
    border-radius: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin: 1em 0;
}

/*
    Games Page
*/
.gameslist {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gameslist li {
    list-style: none;
    min-height: 6em;
    margin-bottom: 1em;
    width: 98%;
    padding: 0 0.25em;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.gameslist a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.gameslist a:active {
    background: #666;
    opacity: .1;
}

.gameslist a * {
    padding: 0;
}

.gameslist .info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 4em;
}

.gameslist .info * {
    margin: 0;
    width: 100%;
    flex-basis: 1;
}

.gameslist .team1, .team2 {
    flex-basis: 1;
    width: 7em;
}

.gameslist .team1 h3, .team2 h3 {
    height: 3.5em;
}

.gameslist .team1 {
    text-align: right;
}

.gameslist .team1 p, .team2 p {

}

/*
    Swiss score section
*/

table {
    width: 100%;
}

table th {
    text-align: left;
}