html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #3f3f3f;
}

p {
  color: #666;
}

span {
    color: dodgerblue;
}

h1 {
    width: 100%;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    margin: 1em 0;
}

@media (min-width: 40em) {
    section {
        margin: 0 auto;
        width: 55vw;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width: 60em) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }
}

body {
    font: 1em 'roboto', Arial;
    background: #fff;
    min-height: 100vh;
}

section {
    padding: 1em;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro {
    min-height: 100vh;
}

.intro button {
    padding: 1em 1.5em;
    background: dodgerblue;
    border: 0;
    border-radius: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.intro button a{
    padding: 1em 1.5em;
    text-decoration: none;
    color: #fff;
}
